.header-tab {
  margin-left: 100px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  height: 50px;
  margin: auto;
  vertical-align: auto;
}

.header-text {
  font-size: 35px;
  text-align: left;
  padding: 10px;
  height: 50px;
  font-weight: 500;

  margin: auto;
}

.intro-tab {
  height: 135px;
  vertical-align: top;
}

.intro-text {
  font-size: 50px;
  font-style: bold;
  text-align: center;
}

.content-div {
  margin-top: 30px;
  height: 70px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile {
  width: 200%;
}

.main-intro {
  text-align: center;
  font-size: 30px;
}

#social-background {

  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 17%;
  background-image: linear-gradient(to right, rgb(168, 97, 226), rgb(142, 193, 237));
  z-index: 1;
  text-align: center;
}

.singleCol {
  max-width: 750px;
  margin: 0 auto;
}

.SMicon {
  color: white;
  font-size: 2rem;
}

/* 
.right-section {
    background-color: lightblue;
    width: 200px;
    margin-right: 100px;
} */

@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

body {
  background-attachment: local;
  color: #555;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  /* margin: auto;
  padding: 0;
  text-align: center;
  width: 100%; */
}

/* .page_title {
  color: #0af;
  border-bottom: 1px solid rgba(0,0,0,.05);
  font-weight: 300;
  margin: auto;
  padding: 20px 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-transform: uppercase;
} */

/* PEN STYLES ========== */
.menu,
.menu .menu_title,
.menu li a,
.menu li a:after,
.menu li a:before {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: end;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.menu {
  vertical-align: 50px;
}

/* .menu:hover {
  border-bottom: 1px solid rgba(0,0,0,.2);
} */
.menu .menu_title {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 20px;
}

/* .menu:hover .menu_title {
  color: #0af;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);  
} */
.menu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: #555;
  /* display: block; */
  line-height: 50px;
  padding: 0 30px;
  text-decoration: none;
}

.menu.effect li a {
  position: relative;
}

.menu.effect li a:before {
  color: rgb(142, 193, 237);
  content: '[';
  display: block;
  font-size: 1.5em;
  left: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
}

.menu.effect li a:after {
  color: rgb(142, 193, 237);
  content: ']';
  display: block;
  font-size: 1.5em;
  opacity: 0;
  position: absolute;
  right: 30px;
  top: 0;
}

.menu.effect li a:hover:before {
  left: 15px;
  opacity: 1;
}

.menu.effect li a:hover:after {
  opacity: 1;
  right: 15px;
}

.menu.effect li a:hover {
  background: transparent;
}